{% extends 'adminBase.html.twig' %}

{% block body %}
	<h1 class="mb-3">Add new game</h1>
	<div class="mb-2">
		<a class="text-xl font-medium align-middle" href="{{ path('game_index') }}">
			<i class="fa-solid fa-chevron-left text-base"></i>
			List
		</a>
	</div>
	<div class="panel flex space-x-2 mb-2">
		<img src="{{ gameData.boxArtURL|replace({'{width}': '75', '{height}': '100'}) }}">
		<div class="wrapper">
			<h2 class="align-middle">
				<i class="fa-brands fa-twitch"></i>
				{{ gameData.name }}
			</h2>
			<h4>{{ gameData.id }}</h4>
		</div>
	</div>
	{{ include('game/_form.html.twig', {'button_label': 'Create', 'form_name': 'game_new'}) }}

{% endblock %}
