{% extends 'adminBase.html.twig' %}

{% block body %}
	<h1 class="mb-3">Tag #{{ tag.id }}: {{ tag.name }}</h1>
	<div class="mb-2">
		<a class="text-xl font-medium align-middle" href="{{ path('tag_index') }}">
			<i class="fa-solid fa-chevron-left text-base"></i>
			List
		</a>
	</div>

	<div class="flex flex-col space-y-2">
		{{ include('tag/_form.html.twig', {'button_label': 'Update', 'form_name': 'tag_edit'}) }}
		{{ include('tag/_delete_form.html.twig') }}
	</div>
{% endblock %}
